.disco-header .dropdown-menu {
  position: fixed;
  left: 10%;
  right: 10%;
  border: none;
  padding: 20px;
}
.disco-wrap {
  cursor: pointer;
}
.di_div {
  text-align: center;
}
.di_main {
  font-weight: 600;
}
.di_child {
  margin: 10px 0;
  color: #666;
}
